@each $key, $val in $badgeColour {
  .custom-badge-#{$key} {
    background-color: $val !important;
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }
  }
}

@each $key, $val in $borderColour {
  .custom-border-#{$key} {
    border-color: $val !important;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
