.custom-float-filter-btn {
  top: 25px;
  right: -50px;

  &:hover {
    right: -35px;
    transition: 200ms linear right;
  }

  > button {
    display: flex;
    flex-direction: row;
    width: 54px;

    .custom-text-horizontal {
      letter-spacing: 4px;
      margin-top: 16px;
      font-size: 16px;
      font-weight: 400;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .custom-float-filter-btn {
    top: 25px;
    right: -45px;
    z-index: 9;

    &:hover {
      right: -40px;
      transition: 100ms linear right;
    }

    > a {
      width: 60px;
    }
  }
}
