@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.custom-btn {
  @include btn;
}

@each $key, $val in $colors {
  .custom-btn-#{$key} {
    @include btn($val);

    &:hover {
      background-color: lighten($val, 5);
    }
  }

  .custom-btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;

    &:hover {
      background-color: $val;
    }
  }

  .custom-btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);

    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}
