@use "sass:math";

.custom-card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 4);

  .custom-card-title {
    font-size: $base-font-size;
    padding-bottom: $base-padding;
    font-weight: bold;
  }

  .custom-card-body {
    font-size: $base-font-size;

    a {
      text-decoration: underline;
    }
  }
}
