.custom-date-input-blue .input-group-prepend .custom-date-icon {
  border: solid 1px #084298;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: transparent;
}

/* Flat Picker with purple theme */
.custom-datepicker {
  border-radius: 5px;
  border: solid 1px #084298;

  .flatpickr-wrapper {
    width: calc(100% - 50px);
    border-radius: 4px;

    .flatpickr-day.selected,
    .flatpickr-day.startRange,
    .flatpickr-day.selected,
    .flatpickr-day.endRange {
      background-color: rgba(13, 110, 253, 1);
      border: none;
    }

    ~ .input-group-text {
      border-radius: 5px;
      background-color: #ffffff;
      border: none;
      border-left-width: 0;
      color: #084298;
      transition: none;
      height: 34px;
    }

    &:has(.custom-date-input-blue[disabled]) {
      width: calc(100% - 39px);
      background-color: #ececec;
      color: #a0b3ce;
      cursor: not-allowed;

      ~ .input-group-text {
        background-color: #ececec;
        color: #a0b3ce;
        cursor: not-allowed;
      }
    }
  }

  .custom-date-input-blue {
    background-color: #ffffff;
    border-right-width: 0;
    transition: none;
    height: 34px;
    border: none;
    color: #2787f5;

    &::-moz-placeholder {
      color: #7db7f9;
    }

    &:-ms-input-placeholder {
      color: #7db7f9;
    }

    &::placeholder {
      color: #7db7f9;
    }

    ~ .input-group-text {
      border-radius: 5px;
      background-color: #ffffff;
      border: none;
      border-left-width: 0;
      color: #084298;
      transition: none;
      height: 34px;
    }

    input[type="text"] {
      border-radius: 5px;
      border-right-width: 0px;
      background-color: #ffffff;
    }

    &[disabled] {
      background-color: #ececec;
      cursor: not-allowed;

      ~ .input-group-text {
        background-color: #ececec;
        cursor: not-allowed;
      }
    }
  }

  &:focus,
  &.active,
  &:hover {
    border: 1px solid rgba(13, 110, 253, 1);
    cursor: pointer;

    .input-group-text {
      color: rgba(13, 110, 253, 1);
    }
  }
}

.flatpickr-wrapper:has(.custom-flatpickr-blue-w-select2) {
  width: calc(75% - 4px);
}

.custom-flatpickr-blue-w-select2 {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
