.select2-blue-w-inputbox-sm {
  ~ .select2-container--default .select2-selection--single {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #d9e4f0;
    border-radius: 0.6rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;

    &:hover {
      background-color: #d9e4f0;

      .select2-selection__rendered {
        color: #777777;
      }
    }

    .select2-selection__rendered {
      font-size: 12px;
      color: #333333;
      line-height: 1;
    }

    .select2-selection__arrow {
      height: 100%;
    }
  }

  ~ .form-control.form-control-sm {
    width: calc(75% - 10px);
    margin: 0 !important;
    color: #333333;
  }
}

.select2-container--open .select2-dropdown.custom-dropdown-content.blue {
  left: 2px;
}

.select2-dropdown.select2.custom-dropdown-content.blue {
  border: 2px solid #d9e4f0;
}

.select2-container--default .custom-dropdown-content.blue .select2-results__option--highlighted.select2-results__option--selectable {
  color: #333333;

  background-color: #f5f8fb;
}

.custom-dropdown-content.blue .select2-results__option.select2-results__option--selected {
  color: #ffffff;
  background-color: rgba(39, 135, 245, 1);
}
